{% extends 'index.html' %}
{% load staticfiles %}
{% load spirit_tags i18n %}

{% block content %}
    {% include 'navbar.html' %}


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-image: url({% static 'img/country_train_background.jpg' %})">
          <div class="container">
            <div class="carousel-caption">
              <h1>Großdemos gegen TTIP und CETA am 17.09.2016 in:</h1>
              <p>Berlin, Frankfurt, Hamburg, Köln, Leipzig, München, Stuttgart</p>
              {% if user.is_authenticated %}
              {% has_topic_notifications user as has_notifications %}
              {% else %}
              <p><a class="btn btn-lg btn-primary" href="{% url "spirit:user:auth:login" %}?next={% firstof request.get_full_path|urlencode '/' %}" role="button">Registrieren oder anmelden</a></p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url({% static 'img/bridge.jpg' %})">
          <div class="container">
            <div class="carousel-caption">
              <h1>Großdemos gegen TTIP und CETA am 17.09.2016 in:</h1>
              <p>Berlin, Frankfurt, Hamburg, Köln, Leipzig, München, Stuttgart</p>
              {% if user.is_authenticated %}
              {% has_topic_notifications user as has_notifications %}
              {% else %}
              <p><a class="btn btn-lg btn-primary" href="{% url "spirit:user:auth:login" %}?next={% firstof request.get_full_path|urlencode '/' %}" role="button">Registrieren oder anmelden</a></p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url({% static 'img/bride_fortres.jpg' %})">
          <div class="container">
            <div class="carousel-caption">
              <h1>Großdemos gegen TTIP und CETA am 17.09.2016 in:</h1>
              <p>Berlin, Frankfurt, Hamburg, Köln, Leipzig, München, Stuttgart</p>
              {% if user.is_authenticated %}
              {% has_topic_notifications user as has_notifications %}
              {% else %}
              <p><a class="btn btn-lg btn-primary" href="{% url "spirit:user:auth:login" %}?next={% firstof request.get_full_path|urlencode '/' %}" role="button">Registrieren oder anmelden</a></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row effect-box">
        <div class="col-lg-4 effect">
          <div class="circle"><i class="fa fa-eye fa-5x hvr-bob" aria-hidden="true"></i></div>
          <h2>Events / Aktionen</h2>
          <p>Nur demonstrieren reicht nicht ist deine Devise? Dann veröffentliche hier dein Event und finde Unterstützung für dein Projekt oder beteilige dich bei einem bereits geplanten Event.</p>
          <p><a class="btn btn-default hvr-bounce-in" href="{% url 'event:event_startingpage' %}" role="button">Events &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 effect">
          <div class="circle"><i class="fa fa-car fa-5x hvr-bob" aria-hidden="true"></i></div>
          <h2>Fahrten</h2>
          <p>Du hast dich bereits entschlossen zu einer Demo zu fahren und hast noch Platz im Auto oder du suchst gerade nach einer Mitfahrgelegenheit? Dann schau hier rein und melde deine Fahrt an oder suche nach einer.</p>
          <p><a class="btn btn-default hvr-bounce-in" href="{% url 'transportation:transportation_startingpage' %}" role="button">Fahrten &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 effect">
          <div class="circle"><i class="fa fa-comments-o fa-5x hvr-bob" aria-hidden="true"></i></div>
          <h2>Forum</h2>
          <p>Du möchtest über politische Themen reden oder auf Missstände aufmerksam machen. Dann besuch unser Forum und beteilige dich an Diskussionen oder starte ein eigenes Thema. Aber bitte bleib sachlich und höflich.</p>
          <p><a class="btn btn-default hvr-bounce-in" href="{% url 'spirit:index' %}" role="button">Zum Forum &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Informationen zu TTIP und CETA.</h2><br>
                  <a  href="https://stop-ttip.org/de/wo-liegt-das-problem/" >
                    <h3 class="hvr-grow-rotate">Link: <span style="color: green">www.stop-ttip.org</span></h3>
                  </a>
          <p class="lead"></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Flyers zu TTIP und CETA.</h2><br>
                <a href="http://ttip-demo.de/home/" >
                  <h3 class="hvr-grow-rotate">Link: <span style="color: green">www.ttip-demo.de</span></h3>
                </a>
          <p class="lead"></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="" alt="">
        </div>
      </div>

      <hr class="featurette-divider">
    </div>
      <!-- /END THE FEATURETTES -->
{% endblock content %}