{% extends 'index.html' %}
{% load easy_maps_tags %}

{% block content %}
    {% include 'navbar.html' %}
    <div id="wrap">
        <div class="container header-replacer">
        {% if event.cancelled %}
            <h1 style="color: red;;">Dieses Event wurde vom Ersteller storniert!</h1>
        {% endif%}

<!-- Visitor section -->
            {% if user.is_authenticated and event.user != current_user %}
                <div class="row" style="padding-bottom: 40px">
                {% if current_user_requests %}
                    <h2 style="color: #4cae4c; padding-bottom: 50px">Du hast dem Eventersteller bereits eine Anfrage gesendet.</h2>

                    {% for current_user_request in current_user_requests %}
                        <div class="request-link">
                        <p>Anfrage vom <strong>{{ current_user_request.timestamp }}</strong> für <br><strong>{{ current_user_request.passengers }}</strong> Personen.</p>
                        <form method="GET" action="{% url 'transportation:transportation_request_view' pk=transportation.pk slug=transportation.slug request_pk=current_user_request.pk %}"
                              style="display: inline-block">
                        <button class="btn btn-default">Zur Anfrage</button>
                        </form>
                        </div>
                    {% endfor %}
                    <form method="GET" action="{% url 'transportation:transportation_request' pk=transportation.pk slug=transportation.slug %}">
                        <button class="btn btn-default">Erneute Anfrage senden</button>
                    </form>
                {% else %}

                    <form method="GET" action="{% url 'transportation:transportation_request' pk=transportation.pk slug=transportation.slug %}" style="display: inline">
                        <button class="btn btn-default">Anfrage senden</button>
                    </form>
                {% endif %}
                </div>
                <hr>
            {% endif %}
<!-- End visitor section -->

<!-- Event owner section -->
            {% if user.is_authenticated and event.user == current_user %}
                <div class="row" style="padding-bottom: 40px">
                <h3 style="padding-bottom: 10px">Hallo {{ event.user }}. Das ist dein Event.</h3>
                <form method="GET" action="{% url 'event:change_event' pk=event.pk slug=event.slug %}" style="display: inline">
                    <button class="btn btn-default">Event ändern</button>
                </form>

                <form method="GET" action="{% url 'event:cancel_or_activate' pk=event.pk slug=event.slug %}" style="display: inline">
                {% if not event.cancelled %}
                    <button class="btn btn-default">Event stornieren</button>
                        <h4 style="padding-top: 30px">Ihr Event ist öffentlich und sichtbar für alle Besucher. Klicken Sie auf <strong>Event stornieren</strong>, falls Sie es absagen möchten.</h4>
                {% else %}
                    <button class="btn btn-default">Event wieder einstellen</button>
                        <h4 style="padding-top: 30px; color: red">Ihr Event ist nicht öffentlich, da es storniert wurde. Klicken Sie auf <strong>Event wieder einstellen</strong>, um es wieder zu aktivieren. Sollten Sie bereits
                        Helfer akzeptiert haben sind diese wieder als Helfer gelistet.</h4>
                {% endif %}
                </form>
                </div>
                <hr>
            {% endif %}
<!-- End event owner section -->

            <div class="row" style="padding-bottom: 40px">
               <a href="{# {% url "user:view_user_recipes_in_profile" pk=transportation.user.pk slug=transportation.user.st.slug %} #}">
                    Event eingestellt von <strong><span class="text-muted">{{ event.user }}</span></strong>
                </a>
            </div>
            <div class="row" style="padding-bottom: 40px">
                <h1><span class="text-muted">{{ event.name }}</span>.</h1>
            </div>
            <div class="row text-left">
                <div class="col-lg-6">
                    <div >
                        <!-- Default map with 300x400 dimensions -->
                        {% easy_map address 500 500 using 'easy_maps/map.html' %}

                        <!-- Variable address, custom detail level and custom template -->
                        {# {% easy_map address 200 200 5 using 'map.html' %} #}
                    </div>
                </div>
                <div class="col-lg-6">

                    <div class="text-box">
                        <p class="transportation-attributes">Abfahrt:</p>
                        <p class="transportation-text"><strong>{% if event.continuing %}Beginn:{% else %}Wann:{% endif %}</strong> {{ event.date }}</p>
                        <p class="transportation-text"><strong>Wo:</strong> {{ event.zip_code }} {{ event.location }}</p>
                        <p class="transportation-text">{{ event.street }}</p>
                    </div>
                    <div class="text-box">
                        <p class="transportation-attributes">Beschreibung:</p>
                        <p class="transportation-text"> {{ event.description|linebreaks }}</p>
                    </div>
                {% if event.telephone or event.mobile or event.email %}
                   <div class="text-box">
                        <p class="transportation-attributes">Kontaktaufnahme:</p>
                        <p class="transportation-text">
                            {% if event.telephone %}
                            Festnetz: <strong>{{ event.telephone }}</strong>
                            {% endif %}
                            {% if event.mobile %}
                            Mobil: <strong>{{ event.mobile }}</strong>
                            {% endif %}
                            {% if event.email %}
                            Email: <strong>{{ event.email }}</strong>
                            {% endif %}
                        </p>
                        <p>Oder klicke auf einer der Hilfegesuche weiter unten, um deine Hilfe anzubieten.</p>
                    </div>
                {% endif %}
                </div>
            </div>
            {% if user.is_authenticated and event.user == current_user %}
            <div class="row" style="padding: 40px 0 40px">
                <ul>
                {% for request in transportation_request %}
                    {% if request.cancelled %}
                    <li class="text-left" style="color: #761c19;">
                        <h3>Beifahrer hat Anfrage/Fahrt storniert.</h3>
                    {% elif request.accepted_by_receiver %}
                        <li class="text-left" style="color: #5cb85c">
                        <h3>Anfrage akzeptiert</h3>
                    {% else %}
                        <!--<li class="text-left" style="color: #761c19;">
                        <h3>Anfrage abgelehnt</h3>-->
                    <li class="text-left">
                    {% endif %}
                        <h4>Anfrage von <strong><span class="text-muted">{{ request.user }}</span></strong> am
                        <strong><span class="text-muted">{{ request.timestamp }}</span></strong>. Benötigen
                        <strong><span class="text-muted">{{ request.passengers }}</span></strong> Plätze.
                        Abfahrtsort: <strong><span class="text-muted">{{ request.transporation_offer.departure_location }}</span></strong>
                        <strong><span style="color: #d58512">{{ request.transporation_break.location }}</span></strong></h4>
                        <form method="GET" action="{% url 'transportation:transportation_request_view' pk=transportation.pk slug=transportation.slug request_pk=request.pk %}"
                              style="display: inline">
                        <button class="btn btn-default">Zur Anfrage</button>
                        </form>
                    </li>
                    <hr>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="row">

                zeige Zwischenstopps an
            </div>
        </div>
    </div>
{% endblock content %}