{% extends 'index.html' %}
{% load static %}
{&

{% block content %}
    {% include 'navbar.html' %}
    <div id="wrap">
        <div class="header-big">
            <div class="item active" style="background-image: url({% static 'img/event.jpg' %})">
            </div>
        </div>
        <div class="container">
            <div class="row" style="padding-bottom: 50px">
                <h1 style="text-align: center; padding-bottom: 50px">Vor oder für den 17 September hast du eine Aktion oder gar etwas Spektakuläres geplant oder würdest gerne Teil eines Protest-Projektes sein?</h1>
                <div class="col-md-6 text-center">
                    <form method="GET" action="{% url 'event:register_event' %}" style="display: inline">
                        <button class="btn btn-default circle-button hvr-float-shadow ">Event eintragen</button>
                    </form>
                </div>
                <div class="col-md-6 text-center">
                    <form method="GET" action="{% url 'event:search_event' %}" style="display: inline">
                        <button class="btn btn-default circle-button hvr-float-shadow ">Event suchen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}