{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load threadedcomments_tags %}

{% block content %}
    {% include 'navbar.html' %}
    <div id="wrap">
    {% if user.is_authenticated and user in user_list %}
    <div class="container header-replacer">
        <div class="row">
        {% if supportoffer.cancelled %}
            <h1 style="padding-bottom: 50px; color: red">Dieses Angebot wurde von {{ supportoffer.user }} storniert!</h1>
        {% endif %}
        <div class="row" style="padding: 0 0 30px">
            <a href="{% url 'event:event_details' pk=supportoffer.supportneeded.event.pk slug=supportoffer.supportneeded.event.slug %}">
                <button class="btn btn-default hvr-pop" style="font-size: 25px">Zurück zum Event</button>
            </a>
        </div>
        {% if supportoffer.supportneeded.event.cancelled %}
            <h1 style="padding-top: 30px; color: red">Achtung! Dieses Event wurde vom Ersteller storniert und findet nicht mehr statt.</h1>
        {% endif %}

            <h2>Unterstützung für: <strong>{{ supportoffer.supportneeded.name }}</strong>.</h2>
            {% if user == supportoffer.user %}
                <h3>Deine Konversation mit <strong><span class="text-muted">{{ supportoffer.supportneeded.event.user }}</span></strong></h3>
                    {% if supportoffer.supportneeded.event.mobile %}<h5>Mobil: {{ supportoffer.supportneeded.event.mobile }}</h5>{% endif %}
                <form method="GET" action="{% url 'event:cancel_or_reactivate_supportoffer' pk=supportoffer.supportneeded.event.pk slug=supportoffer.supportneeded.event.slug support_pk=supportoffer.supportneeded.pk support_slug=supportoffer.supportneeded.slug offer_pk=supportoffer.pk %}" style="display: inline">
                    {% if not supportoffer.cancelled %}
                    <button class="btn btn-default hvr-push" style="background-color: #c65555"><strong>Unterstützung stornieren</strong></button>
                    {% else %}
                    <button class="btn btn-default hvr-push"><strong>Unterstützung wieder aktiv schalten</strong></button>
                    {% endif %}
                </form>
            {% else %}
            <h3>Deine Konversation mit <strong><span class="text-muted">{{ supportoffer.user }}</span></strong></h3>
                {% if supportoffer.mobile %}<h5>Mobil: {{ supportoffer.mobile }}</h5>{% endif %}
            {% endif %}
        </div>
    <hr>
        <div class="row">
            <div class="comments_wrapper" id="comments">
                {% render_comment_list for supportoffer %}
                <hr>
                <div id="wrap_write_comment">
                {% render_comment_form for supportoffer %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock content %}