{% load staticfiles %}
    <!-- Placed at the end of the document so the pages load faster -->

      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- disabled on the 02.03.2016
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script> -->
		<script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>