{% load staticfiles %}
{% load spirit_tags i18n %}


    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'landingpage:landingpage' %}">Home</a></li>
                <li><a href="{% url 'transportation:transportation_startingpage' %}">Fahrten</a></li>
                <li><a href="{% url 'bednbreakfast:bednbreakfast_startingpage' %}">Übernachtungen</a></li>
                <li><a href="{% url 'event:event_startingpage' %}">Special Events</a></li>
                <li><a href="{% url 'spirit:index' %}">Forum</a></li>
                {% if user.is_authenticated %}
                {% has_topic_notifications user as has_notifications %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'user:view_transportation_in_profile' pk=user.pk slug=user.st.slug %}">Profil</a></li>
                    <li><a href="{% url 'landingpage:impressum' %}">Impressum</a></li>
                    <li><a class="menu-link js-post" href="{% url "spirit:user:auth:logout" %}?next={% firstof request.get_full_path|urlencode '/' %}">{% trans "Log out" %}</a></li>
                    <!--
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                    -->
                  </ul>
                </li>
            {% else %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Weiteres<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'landingpage:impressum' %}">Impressum</a></li>
                    <li><a href="{% url "spirit:user:auth:login" %}?next={% firstof request.get_full_path|urlencode '/' %}">{% trans "Log in" %}</a></li>
                  </ul>
                </li>

            {% endif %}
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
