
@import url(https://fonts.googleapis.com/css?family=Special+Elite);

html,
body {
    margin:0;
    padding:0;
    height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased; !important;
  font-family: 'Special Elite', 'Open Sans', sans-serif; !important;
}

.navbar-wrapper {
    font-size: 20px;
}

a {
    /*
    -webkit-transition: background-color 1s, color 1s;
    -moz-transition: background-color 1s, color 1s;
    -ms-transition: background-color 1s, color 1s;
    -o-transition: background-color 1s, color 1s;
    transition: background-color 1s, color 1s;
    */
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

a:-webkit-any-link {
    color: black;
    text-decoration: none;
    cursor: hand;
}

a:-moz-any-link {
    color: black;
    text-decoration: none;
    cursor: hand;
}

#wrap {

    min-height: 100%;
    /* Negative indent footer by its height */
    /* Pad bottom by footer height */
}

.header-big {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.header-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.header-big .item {
  height: 500px;
  background-color: #777;
}

.header-big > .item {
  height: 500px;
  background-color: #bbb;
  background: center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.circle-button {
    outline:none !important;
    display: inline;
    font-size: 40px;
    height: 400px;
    width: 400px;
    border-radius: 200px;
    box-shadow: 0 0 5px 4px;
    margin-bottom: 20px;
    background-color: #EBF3E4;
}

.header-replacer {
    margin-top: 180px;
    text-align: center
}

.offer-box {
    margin: 25px 5px 40px 60px;
    padding: 5px 20px 5px 35px;
    max-width: 800px;
    min-height: 50px;
    background-color: #d6e9c6;
       -webkit-border-radius: 0 100px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 0 100px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 0 100px;
    -webkit-box-shadow: 0 0 5px 5px #89B267;
    -moz-box-shadow: 0 0 5px 5px #89B267;
    -o-box-shadow: 0 0 5px 5px #89B267;
    box-shadow: 0 0 5px 5px #89B267;
}

.offer-box .text-muted {
    color: #89B267;
}

.form-box {
    max-width: 500px;
    margin: auto;
}

#map-canvas-1 {
    -webkit-border-radius: 0 250px 0px 250px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 0 250px 0px 250px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 0 250px 0px 250px;
}


.text-box {
    padding-top: 5px;
    padding-bottom: 5px;
}

.transportation-attributes {
    -webkit-border-radius: 0 20px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 0 20px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 0 20px;

    font-size: 20px;
    margin:  10px 0 15px 5px;
    padding-left: 10px;
    background-color: #d6e9c6;
    /*background-color: #c1e2b3;*/
    max-width: 450px;
    box-shadow: 0 0 10px #d6e9c6;
}

.transportation-text {
    margin: 0 0 10px 40px;
    max-width: 500px;
}

#seats {
    width: 240px;
    height: 80px;
    display: -webkit-flex; /* Safari */
    display: flex;
}

.warn_item {
    max-width: 500px;
    padding: 10px 0 20px;
    margin: auto;
}


/* django-threadedcomments styles */
.comments_wrapper {
    max-width: 700px;
    margin: auto;
}

.recipe_comments {
    margin-top: 60px;
}

.request-link {
    margin: auto;
    margin-bottom: 20px;
    padding: 5px 5px 5px 5px;
    width: 160px;
    border: solid #d6e9c6;
    border-radius: 15px;
    box-shadow: 0 0 8px 5px #d6e9c6;
}
        .message {
            width: 300px;
            background-color: #faf0e6;
            border-radius: 10px;
        }

        .message * {
            padding: 10px;
        }

        .title {
            font-weight: bold;
        }

        /* BEGIN COMMENTS */

        .comment {
            padding: 10px;
            margin: 10px;
            position: relative;
        }

        .comment_li {
            list-style: none;

        }

        .comment_last {
            padding: 10px;
            margin: 10px;
        }

        .comment_info {
            line-height: 24px;
            position: relative;
        }

        .comment_user {
            text-decoration: underline;
            margin-right: 10px;
            font-weight: bold;
            color: #666;
            font-size: .99em;
            cursor: pointer;
            float: left;
        }

        .comment_data {
            font-size: 11px;
            color: #666;
            margin-top: 10px;
        }

        .comment_text {
            margin-top: 10px;
            float: inherit;
            font-size: 1.08em;
            color: black;
        }

        .comment_reply_link {
            color: #004276;
            outline: none;
            text-decoration: none;
            vertical-align: baseline;
        }

        .comments_length {
            padding-left: 15px;
            font-weight: bold;
        }

        #form-comment {
            padding: 15px;
            margin: 15px;
            background-color: #faf0e6;
            max-width: 700px;
        }

        .comment form label {
            float: left;
            width: 130px;
        }

        label[for=id_honeypot],
        #id_honeypot {
          display: none;
        }

        #cancel_reply {
            display: none;
        }

        .comments #cancel_reply {
          display: inline;
        }

/* Event */

.flex-container {
    display: flex;
    flex-direction: row;
    margin: 40px 5px 20px 5px;
}

.flex-box {
    color: black;
    display: flex;
    flex-direction: column;
    margin: 5px 4px 10px 10px;
    position: relative;
    width: 200px;
    height: 200px;
    background: #d6e9c6;
    border-radius: 10px;
    border: solid 1px #B5D49B;
    z-index: 0;
    transition: all .15s ease-in-out;
}
 .flex-inbox {
     background-color: #B5D49B;
     height: 50px;
     padding-top: 5px;
     border-radius: 10px 10px 0 0;
 }
.flex-box p {
    padding: 5px 5px 5px 5px;
}


/* Effects for startingpage */

.circle {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background-color: #EBF3E4;
    margin: auto;
}

.circle .fa {
    padding-top: 30px;
}

.effect:hover .fa {
}

.effect-box:hover  {

}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.effect:hover .fa, .effect:focus .fa, .effect:active .fa {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    z-index: 1000;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
     background-color: #d6e9c6;
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Grow Rotate */
.hvr-grow-rotate {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.05) rotate(2deg);
  transform: scale(1.05) rotate(2deg);
}

/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hvr-push {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}





