@import url(https://fonts.googleapis.com/css?family=Special+Elite);

html,
body {
    margin:0;
    padding:0;
    height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased; !important;
  font-family: 'Special Elite', 'Open Sans', sans-serif; !important;
}

.navbar-wrapper {
    font-size: 20px;
}

a {
    /*
    -webkit-transition: background-color 1s, color 1s;
    -moz-transition: background-color 1s, color 1s;
    -ms-transition: background-color 1s, color 1s;
    -o-transition: background-color 1s, color 1s;
    transition: background-color 1s, color 1s;
    */
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

a:-webkit-any-link {
    color: black;
    text-decoration: none;
    cursor: hand;
}

a:-moz-any-link {
    color: black;
    text-decoration: none;
    cursor: hand;
}

#wrap {

    min-height: 100%;
    /* Negative indent footer by its height */
    /* Pad bottom by footer height */
}

.header-big {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.header-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.header-big .item {
  height: 500px;
  background-color: #777;
}

.header-big > .item {
  height: 500px;
  background-color: #bbb;
  background: center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transportation-button {
    display: inline;
    font-size: 40px;
    height: 400px;
    width: 400px;
    border-radius: 200px;
    box-shadow: 0 0 5px 4px;
}