{% extends "index.html" %}{% load i18n %}

{% block title %}Danke für dein Kommentar{% endblock %}

{% block extrahead %}
{{ block.super }}
    <meta http-equiv="Refresh" content="5; url={{ comment.content_object.get_absolute_url }}#c{{ comment.id }}" />
{% endblock %}

{% block content %}
     {% include 'navbar.html' %}
    <div id="wrap">
        <div class="container header-replacer">
            <div class="row">
                <p>
                  {% blocktrans %}
                  Deine Antwort wurde gepostet.<br/>
                  {% endblocktrans %}
                </p>

                <p><a href="{{ comment.content_object.get_absolute_url }}#c{{ comment.id }}">
                    <button class="btn btn-default hvr-pop">Zurück</button> </a></p>
            </div>
        </div>
    </div>
{% endblock %}
