{% extends 'index.html' %}
{% load static %}


{% block content %}
    {% include 'navbar.html' %}
    <div id="wrap">
        <div class="header-big">
            <div class="item active" style="background-image: url({% static 'img/car.jpg' %})">
            </div>
        </div>
        <div class="container">
            <div class="row" style="padding-bottom: 50px">
                <h1 style="text-align: center; padding-bottom: 50px">Biete eine Fahrt für den 17 September an oder suche nach einer.</h1>
                <div class="col-md-6 text-center">
                    <form class="circles" method="GET" action="{% url 'transportation:register_transportation' %}">
                        <button class="btn btn-default circle-button">Fahrt anbieten</button>
                    </form>
                </div>
                <div class="col-md-6 text-center">
                    <form class="circles" method="GET" action="{% url 'transportation:transportation_search_form' %}" style="display: inline">
                        <button class="btn btn-default circle-button">Fahrt suchen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}