{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load threadedcomments_tags %}

{% block content %}
    {% include 'navbar.html' %}

    {% if user.is_authenticated and user in user_list %}
    <div id="wrap">
    <div class="container header-replacer">
        <div class="row">
        <div class="row" style="padding: 0 0 30px">
            <a href="{% url 'transportation:transportation_details' transportation.pk transportation.slug %}">
                <button class="btn btn-default" style="font-size: 25px">Zurück zum Angebot</button>
            </a>
        </div>
        {% if transportation.cancelled %}
            <h1 style="padding-top: 30px; color: red">Achtung! Diese Fahrt wurde vom Fahrer storniert und findet nicht mehr statt.</h1>
        {% endif %}
        {% if transportation_request.accepted_by_receiver and user == transportation_request.user and not transportation.cancelled %}
            <h2 style="color: #4cae4c; padding-bottom: 50px">Deine Anfrage wurde vom Fahrer akzeptiert. {% if transportation_request.passengers == 1 %}Du fährst{% else %}Ihr fahrt {% endif %}
            zusammen mit {{ transportation.user }} zur Demo ;)</h2>
        {% endif %}
            <h2>Fahrt von {{ transportation.departure_location }} nach {{ transportation.destiny_location }} für <strong>{{ transportation_request.passengers }}</strong> Personen.</h2>
            {% if user == transportation.user %}
                <h3>Deine Konversation mit <strong><span class="text-muted">{{ transportation_request.user }}</span></strong></h3>
                    {% if transportation_request.mobile %}<h5>Mobil: {{ transportation_request.mobile }}</h5>{% endif %}
                <form method="GET"  action="{% url 'transportation:accept_or_oposite_request' pk=transportation.pk slug=transportation.slug request_pk=transportation_request.pk%}" style="display: inline">
                    {% if transportation_request.accepted_by_receiver %}
                    <button class="btn btn-default" style="background-color: #c65555"><strong>{{ transportation_request.passengers }}</strong> Plätze stornieren</button>
                    {% else %}
                    <button class="btn btn-default"><strong>{{ transportation_request.passengers }}</strong> Plätze reservieren</button>
                    {% endif %}
                </form>
                    <!--
                <form method="GET" action="" style="display: inline">
                    <button class="btn btn-default">Anfrage ablehnen</button>
                </form>
                -->
            {% else %} <!-- Passenger -->
            <h3>Deine Konversation mit <strong><span class="text-muted">{{ transportation.user }}</span></strong></h3>
                {% if transportation.mobile %}<h5>Mobil: {{ transportation.mobile }}</h5>{% endif %}
                <form method="GET" action="{% url 'transportation:update_request' pk=transportation.pk slug=transportation.slug request_pk=transportation_request.pk %}" style="display: inline">
                    <button class="btn btn-default">Fahrtangebot ändern</button>
                </form>
                <form method="GET" action="{% url 'transportation:cancel_or_reactivate_request' pk=transportation.pk slug=transportation.slug request_pk=transportation_request.pk %}" style="display: inline">
                    {% if not transportation_request.cancelled %}
                    <button class="btn btn-default" style="background-color: #c65555"><strong>Anfrage stornieren</strong></button>
                        <h4 class="warn_item" style="color: #d58512">Achtung: Wenn du die Anfrage stornierst werden deine Sitzplätze wieder freigestellt, falls du bereits vom Fahrer akzeptiert wurdest.</h4>
                    {% else %}
                    <button class="btn btn-default"><strong>Anfrage wieder aktiv schalten</strong></button>
                        <h4 class="warn_item">Du kannst diese Anfrage wieder aktiv schalten. Wenn deine Anfrage vor deiner Stornierung vom Fahrer akzeptiert wurde,
                         werden dir deine alten Plätze wieder zugewiesen, falls sie mittlerweile nicht vergeben sind.</h4>
                    {% endif %}
                </form>
            {% endif %}
        </div>
        <div class="row" style="padding: 30px 0 30px">
            <h4>Nachricht vom {{ transportation_request.timestamp }}:</h4>
            <p style="max-width: 500px"><span class="text-muted">{{ transportation_request.text|linebreaks }}</span></p>
        </div>
    <hr>
        <div class="row">
            <div class="comments_wrapper" id="comments">
                {% render_comment_list for transportation_request %}
                <hr>
                <div id="wrap_write_comment">
                {% render_comment_form for transportation_request %}
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
{% endblock content %}