{% extends 'index.html' %}
{% load easy_maps_tags %}

{% block content %}
    {% include 'navbar.html' %}
    <div id="wrap">
        <div class="container header-replacer">
        {% if transportation.cancelled and current_user != transportation.user %}
            <h1>Diese Fahrt wurde vom Fahrer storniert!</h1>
        {% else %}

            {% if user.is_authenticated and transportation.user != current_user %}
                <div class="row" style="padding-bottom: 40px">
                <form method="GET" action="{% url 'transportation:transportation_request' pk=transportation.pk slug=transportation.slug %}" style="display: inline">
                    <button class="btn btn-default">Anfrage senden</button>
                </form>
                </div>
                <hr>
            {% endif %}
            {% if user.is_authenticated and transportation.user == current_user %}
                <div class="row" style="padding-bottom: 40px">
                <h3 style="padding-bottom: 10px">Hallo {{ transportation.user }}. Das ist dein Fahrtangebot.</h3>
                <form method="GET" action="{% url 'transportation:update_transportation' pk=transportation.pk slug=transportation.slug %}" style="display: inline">
                    <button class="btn btn-default">Fahrtangebot ändern</button>
                </form>

                <form method="GET" action="{% url 'transportation:cancel_or_activate' pk=transportation.pk slug=transportation.slug %}" style="display: inline">
                {% if not transportation.cancelled %}
                    <button class="btn btn-default">Fahrt stornieren</button>
                        <h4 style="padding-top: 30px">Deine Fahrt ist öffentlich und sichtbar für alle Besucher. Klicken auf <strong>Fahrt stornieren</strong>, falls du die Reise nicht antreten kannst.</h4>
                {% else %}
                    <button class="btn btn-default">Fahrt wieder einstellen</button>
                        <h4 style="padding-top: 30px; color: red">Ihre Fahrt ist nicht öffentlich, da sie storniert wurde. Klicke Sie auf <strong>Fahrt wieder einstellen</strong>, um Sie anzubieten. Sollten Sie bereits
                        Mitfahrer akzeptiert haben sind diese wieder als Passagiere gelistet. Bei längerer Stornierung sollten Sie abklären, ob weiterhin Interesse besteht. Sollte dies nicht der
                        Fall sein, können Sie die Sitzplätze wieder freigeben indem Sie die akzeptierten Anfragen stornieren.</h4>
                {% endif %}
                </form>
                </div>
                <hr>
            {% endif %}
            <div class="row" style="padding-bottom: 40px">
               <a href="{# {% url "user:view_user_recipes_in_profile" pk=transportation.user.pk slug=transportation.user.st.slug %} #}">
                    Angebot eingestellt von <strong><span class="text-muted">{{ transportation.user }}</span></strong>
                </a>
            </div>
            <div class="row" style="padding-bottom: 40px">
                <h1>Fahrt von <span class="text-muted">{{ transportation.departure_location }}</span> nach
                    <span class="text-muted">{{ transportation.destiny_location }}</span>.</h1>
            </div>
            <div class="row text-left">
                <div class="col-lg-6">
                    <div >
                        <!-- Default map with 300x400 dimensions -->
                        {% easy_map address 500 500 using 'easy_maps/map.html' %}

                        <!-- Variable address, custom detail level and custom template -->
                        {# {% easy_map address 200 200 5 using 'map.html' %} #}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="seats">
                        <div style="font-size: 20px; align-self: flex-start">Noch</div>
                        <div style="font-size: 80px; padding-right: 5px">{{ transportation.seats_available }}</div>
                        <div style="font-size: 20px; align-self: flex-end"><span class="text-muted">Plätze</span> frei.</div>
                    </div>
                    <div class="text-box">
                        <p class="transportation-attributes">Abfahrt:</p>
                        <p class="transportation-text"><strong>Wann:</strong> {{ transportation.departure }}</p>
                        <p class="transportation-text"><strong>Wo:</strong> {{ transportation.zip_code }}, {{ transportation.departure_location }}</p>
                        <p class="transportation-text">{{ transportation.departure_street }}</p>
                    </div>
                    <div class="text-box">
                        <p class="transportation-attributes">Ankunft:</p>
                        <p class="transportation-text"><strong>Wo:</strong> {{ transportation.destiny_zip_code }}, {{ transportation.destiny_location }}</p>
                        <p class="transportation-text">{{ transportation.destiny_street }}</p>
                    </div>
                   <div class="text-box">
                        <p class="transportation-attributes">Preis:</p>
                        <p class="transportation-text">
                            {% if transportation.price %}
                            <strong>{{ transportation.price }} €</strong>
                            {% else %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="text-box">
                        <p class="transportation-attributes">Fahrzeug:</p>
                        <p class="transportation-text">{{ transportation.car_manufacturer }} {{ transportation.car_model }}</p>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated and transportation.user == current_user %}
            <div class="row" style="padding: 40px 0 40px">
                <ul>
                {% for request in transportation_request %}
                    {% if request.accepted_by_receiver %}
                    <li class="text-left" style="color: #761c19;">
                        <h3>Beifahrer hat Anfrage/Fahrt storniert.</h3>
                    {% elif request.denied_by_reveicer %}
                    <li class="text-left" style="color: #5cb85c">
                        <h3>Anfrage akzeptiert</h3>
                    {% elif request.cancelled %}
                    <li class="text-left" style="color: #761c19;">
                        <h3>Anfrage abgelehnt</h3>
                    {% else %}
                    <li class="text-left">
                    {% endif %}
                        <h4>Anfrage von <strong><span class="text-muted">{{ request.user }}</span></strong> am
                        <strong><span class="text-muted">{{ request.timestamp }}</span></strong>. Benötigen
                        <strong><span class="text-muted">{{ request.passengers }}</span></strong> Plätze.
                        Abfahrtsort: <strong><span class="text-muted">{{ request.transporation_offer.departure_location }}</span></strong>
                        <strong><span style="color: #d58512">{{ request.transporation_break.location }}</span></strong></h4>
                        <form method="GET" action="{% url 'transportation:transportation_request_view' pk=transportation.pk slug=transportation.slug request_pk=request.pk %}"
                              style="display: inline">
                        <button class="btn btn-default">Zur Anfrage</button>
                        </form>
                    </li>
                    <hr>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="row">

                zeige Zwischenstopps an
            </div>
        {% endif %}
        </div>
    </div>
{% endblock content %}