{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load threadedcomments_tags %}

{% block content %}
    {% include 'navbar.html' %}

    {% if user.is_authenticated and user in user_list %}
    <div id="wrap">
    <div class="container header-replacer">
        <div class="row">
            <h2>Fahrt von {{ transportation.departure_location }} nach {{ transportation.destiny_location }}.</h2>
            {% if user == transportation.user %}
                <h3>Deine Konversation mit <strong><span class="text-muted">{{ transportation_request.user }}</span></strong></h3>
            {% else %}
            <h3>Deine Konversation mit <strong><span class="text-muted">{{ transportation.user }}</span></strong></h3>
            {% endif %}
        </div>
        <div class="row" style="padding: 30px 0 30px">
            <a href="{% url 'transportation:transportation_details' transportation.pk transportation.slug %}">
                <button class="btn btn-default" style="font-size: 25px">Zurück zum Angebot</button>
            </a>
        </div>
    <hr>
        <div class="row">
            <div class="comments_wrapper" id="comments">
                {% render_comment_list for transportation_request %}
                <hr>
                <div id="wrap_write_comment">
                {% render_comment_form for transportation_request %}
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
{% endblock content %}