{% extends "spirit/_base.html" %}
{% load staticfiles %}
{% load spirit_tags i18n %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static "spirit/stylesheets/styles.all.min.css" %}">
    <link rel="stylesheet" href="{% static "spirit/stylesheets/custom.css" %}">

   <!-- <script src="{# {% static "spirit/scripts/all.min.js" %} #}"></script>
    <script src="{# {% static "spirit/scripts/bootstrap.js" %} #}"></script> -->
{% endblock styles %}

{% block title %}{{ p_user.username }} {% trans "comments" %}{% endblock %}

{% block content %}

    <div class="spirit">
        <div class="spirit_wrapper">
            {% include "resistance/user/event_profil.html" with active_tab=1 %}

                <div class="rows">

                {% for support in supportneeded %}
                    <div class="row">

                        <div class="row-title">
                            <a class="row-link{% if support.is_visited %} is-visited{% endif %}" href="{{ support.get_absolute_url }}">
                                {{ support }} <span style="float: right">{{ support.event }}</span>
                            </a>
                        </div>
                        <div class="row-info">
                            <div>
                                {% if support.cancelled %}
                                    <p style="color: red">Gesuch storniert!</p>
                                {% endif %}
                            </div><!--
                         --><div><i class="fa fa-comment{% if support.has_new_comments %} js-comment-is-new{% endif %}"></i> {{ support.comment_count }}</div><!--
                         --><div title="{{ support.updated }}"><i class="fa fa-clock-o"></i> {{ support.updated|shortnaturaltime }}</div>
                        </div>

                    </div>
                {% empty %}
                    <p>Du hast keine Gesuche.</p>
                {% endfor %}

                </div>

        <script>
            $(document).ready(function() {
                // .is_new depends on js (bookmarks)
                $('.js-comment-is-new').addClass('is-new');
            });
        </script>


            {% render_paginator supportneeded %}
        </div>
    </div>

{% endblock content %}